
.course_layout {
  margin-left: 140px;
  padding: 70px 0px 0px 90px;
  overflow: hidden;
}

.CourseDashboard_container {
  width: 100%;
  height: 75vh;
  background-color: #f1f7fa;
}

.grade_select {
  width: 129px;
  height: 40px;
  padding-left: 12px;
  outline: none;
  border-radius: 5px;
}

.subject_select {
  width: 129px;
  height: 40px;
  padding-left: 12px;
  outline: none;
  border-radius: 5px;
}

.get_course_btn {
  width: 167px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #73d0ff;
  background-color: #D4E9EF;
  color: #013C5A;
}

.get_course_btn:hover {
  background-color: #013C5A;
  border: none;
  color: #fff;
  transition: all 0.3s;
}

/*  */

.get_course_container {
  margin-top: 10px;
  width: 100%;
  height: 70vh;
}

.course_cards {
  width: 300px;
  height: 350px;
  border-radius: 20px;
  background-color: #f1f7fa;
  padding: 10px 0px 20px 0px;
}

.temblen_container {
  width: 255px;
  height: 100px;
}

.see_course_btn {
  width: 90px;
  height: 45px;
  background-color: #D4E9EF;
  color: #013C5A;
  border: none;
  text-decoration: none;
  border-radius: 20px;
}

.see_course_btn:hover {
  background-color: #013C5A;
  color: #fff;
  transition: all 0.3s;
}