
.all_course_start_container {
    margin-left: 140px;
    padding: 70px 0px 0px 90px;
}

.header_course_start {
    height: 50vh;
    background-color: #464f63;
    gap: 20%;
}

.header_text_course {
    width: 600px;
}

.getStart_container {
    background-color: #ffffff;
    height: 482px;
    position: fixed;
    right: 20px;
    top: 190px;
}

.getStart_heder {
    background-color: #647385;
    height: 202px;
}