
.all_course_start_container {
    margin-left: 140px;
    padding: 70px 0px 0px 90px;
}

.header_course_start {
    height: 50vh;
    background-color: #464f63;
    gap: 20%;
}

.header_text_course {
    width: 600px;
}

.getStart_container {
    background-color: #ffffff;
    height: 480px;
    position: fixed;
    border-radius: 10px;
    right: 20px;
    top: 190px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}

.getStart_heder {
    background-color: #647385;
    height: 202px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
}

.getStart_bottom {
    padding: 0px 30px;
}

.task_courseBtn {
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #00A2E8;
    color: #ffffff;
}

.task_courseBtn:hover {
    background-color: #14aff1;
    transition: all 0.6s;
}

.lessons_button_container {
    padding: 70px 0px 0px 30px;
}

.all_lessons_button {
    background-color: #92A4B70D;
    height: 60px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.lessons_button {
    text-decoration: none;
    color: rgb(41, 40, 40);
}

.lock_i {
    color: #647385;
    font-size: 13px;
}

.status-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #cfcfcf;
  background-color: transparent;
  cursor: pointer;
}