
.main_nav {
    background-color: #013C5A;
    width: 100%;
    height: 85px;
}

.nav_img {
    width: 250px;
    height: 85px;
}

.main_list {
    display: flex;
    align-items: center;
    gap: 45px;
    color: #fff;
    list-style: none;
}

.translater_flag {
    width: 40px;
    height: 24px;
    padding-right: 5px;
}