
.main_nav {
    background-color: #013C5A;
    width: 100%;
    height: 85px;
}

.container {
    width: 1080px;
}

.nav_img_container {
    width: 270px;
}

.nav_img {
    width: 250px;
    height: 85px;
}

.nav_list_constine {
    width: 650px;
}

.main_list {
    display: flex;
    align-items: center;
    gap: 45px;
    color: #fff;
    list-style: none;
}

.nav_cart {
    width: 24px;
    height: 24px;
}

.second_list {
    width: 500px;
}

/* .second_list {
    width: 200px;
}

.translater_flag {
    width: 40px;
    height: 24px;
    padding-right: 5px;
} */ 