
.main_nav {
    background-color: #013C5A;
    width: 100%;
    height: 85px;
    gap: 200px;
}

.second_nav {
    width: 500px;
    height: 85px;
}

.cart_icon {
    color: #fff;
}

.container {
    width: 1080px;
}

.nav_img_container {
    width: 270px;
}

.nav_img {
    width: 250px;
    height: 85px;
}

.translaetr_img {
    width: 24px;
    height: 24px;
}


.nav_list_constine {
    width: 650px;
    height: 85px;
}

.main_list {
    display: flex;
    align-items: center;
    gap: 45px;
    color: #fff;
    list-style: none;
}

.nav_cart {
    width: 24px;
    height: 24px;
}

.second_list {
    width: 500px;
}

.nav_btn {
    width: 95px;
    height: 36px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #46A7C9;
}

.nav_btn:hover {
    background-color: #969696;
    transition: all 0.2s;
}

.sign-in_p {
    color: #fff;
    cursor: pointer;
}

.sign-in_p:hover {
    color: #46A7C9;
    transition: all 0.2s;
}

/* .second_list {
    width: 200px;
}

.translater_flag {
    width: 40px;
    height: 24px;
    padding-right: 5px;
} */ 