
.links_container {
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.profile_link:hover {
  color: #2E4453;
}

.under_line {
  width: 44px;
  height: 1px;
  background-color: rgb(0, 0, 0);
  margin-top: 6px;
}

/* .under_line_courses {
  width: 55px;
  height: 1px;
  background-color: rgb(0, 0, 0);
  margin-top: 6px;
}

.under_line_achev {
  width: 97px;
  height: 1px;
  background-color: rgb(0, 0, 0);
  margin-top: 6px;
} */

.editProfile_container {
  width: 100%;
  max-width: 1200px;
  height: 47vh;
  padding: 0px 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

.heders {
  width: 100%;
  max-width: 1200px;
  height: 77px;
  gap: 90%;
}