
.main_nav {
    width: 100%;
    max-width: 1728px;
    height: 76px;
    z-index: 10;
    background-color: #013C5A;
    position: fixed;
}

.nav_links_container {
    height: 76px;
    width: 100%;
    max-width: 1307px;
    padding-left: 40px;
}

.main_logo {
    height: 76px;
    width: 100%;
    max-width: 200px;
}

.nav_lists {
    list-style: none;
    color: #fff;
    height: 20px;
}

.nav_translator_img {
    width: 30px;
    height: 20px;
}

.translator_text {
    color: #fff;
}

.side_nav_container {
    width: 300px;
    color: #fff;
}

.sidbar_nav_sign_in {
    cursor: pointer;
}

.sidbar_nav_sign_in:hover {
    color: #46A7C9;
    transition: all 0.5s;
}

.side_nav_login {
    background-color: #46A7C9;
    width: 92px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #000;
    height: 36px;
}

.side_cart {
    cursor: pointer;
}

.side_nav_login:hover {
    background-color: #d8d8d885;
    transition: all 0.5s;
}

.link-tag {
    color: #fff;
    text-decoration: none;
}

.profile_container {
  position: relative;
}

.profile_btn {
  padding: 8px 16px;
  cursor: pointer;
}

.profile_menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  min-width: 150px;
  padding: 10px 0;
  z-index: 1000;
}

.profile_btn.active {
  background-color: red;
}

.profile_menu a,
.profile_menu button {
  display: block;
  width: 100%;
  padding: 8px 16px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.profile_menu a:hover,
.profile_menu button:hover {
  background-color: #f2f2f2;
}
