
.all_sidebar {
    width: 230px;
    height: 100vh;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
    z-index: 100;
    position: fixed;
}

.main_sidebar_container {
    padding: 10px 10px 0px 10px;
    width: 210px;
}

.bar_icon_container {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.bar_icon_container:hover {
    transition: all 0.1s;
    background-color: #F9FAFB;
}

.bars_icon {
    font-size: 20px;
}

.sidebar_links_containers {
    padding: 30px 10px 0px 21px;
    width: 210px;
}

.heder_text {
    color: #1E2132;
}

.menu_btn {
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 5px;
    display: flex;
    text-decoration: none;
    color: #1E2132;
    background-color: #ffff;
}

.btn_icons {
    font-size: 20px;
}

.menu_btn:hover {
    background-color: #F9FAFB;
    transition: all 0.1s;
}

#menu_btn2 {
    padding-right: 65px;
}

#btn_Setting {
    padding-right: 60px;
}

#menu_btn_Billing {
    padding-right: 70px;
}

.menu_btn.active {
    background-color: #34BAD5;
}

.sidebar_links_containers_2 {
    padding: 30px 10px 0px 21px;
    width: 210px;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.logout_btn {
    margin-top: auto;
    margin-bottom: 10px;
}

