
.header_img_container {
    width: 160px;
    height: 160px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15);
}

.profile_img {
    border-radius: 5px;
}

.subheder {
    font-size: 22px;
    color: #5A5A5A;
}

.races_position {
    margin-top: 70px;
}

.races_container {
    width: 1080px;
    height: 30vh;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.races_img {
    width: 87px;
    height: 87px;
}