.second_content_container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.all_second_container {
    width: 100%;
    max-width: 1200px;
    height: 600px;
    gap: 100px;
}

.sec_img_container {
    width: 100%;
    max-width: 550px;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sec_img {
    width: 550px;
    height: 600px;
}

.img_card_container {
    width: 455px;
    height: 470px;
    position: relative;
}

.first_card {
    width: 310px;
    height: 109px;
    background-color: #EDF4F6;
    border-radius: 20px;
    position: absolute;
    top: 100px;
    left: 300px;
    padding: 20px;
}

.second_card {
    width: 310px;
    height: 109px;
    background-color: #EDF4F6;
    border-radius: 20px;
    position: absolute;
    top: 250px;
    left: 200px;
    padding: 20px;
}

.third_card {
    width: 310px;
    height: 109px;
    background-color: #EDF4F6;
    border-radius: 20px;
    position: absolute;
    top: 399px;
    left: 300px;
    padding: 20px;
}

.card_img {
    width: 37px;
    height: 37px;
}

.sec_allcontent_container {
    width: 550px;
    height: 500px;
    /* border: 1px solid #D4E9EF; */
    /* border-radius: 12px; */
    /* box-shadow: 0 8px 25px rgba(70, 167, 201, 0.35); */
}

.sec_all_text_container {
    padding: 50px 0px 0px 0px;
}

.sec_main_hade {
    color: #013C5A;
    font-size: 25px;
}

.sec_use_text {
    font-size: 32px;
}

.chakemark {
    color: #005064;
    font-size: 20px;
}

.sec_usetext_register_btn {
    width: 202px;
    height: 45px;
    border-radius: 50px;
    background-color: #D4E9EF;
    border: none;
    color: #013C5A;
}

.sec_usetext_register_btn:hover {
    background-color: #013C5A;
    color: #fff;
    transition: all 0.2s;
}