
.all_login_container {
    width: 100%;
    max-width: 756px;
    height: 100vh;
    background-color: #013C5A;
}

.login_img_container {
    width: 100%;
    max-width: 756px;
    height: 100vh;
}

.all_login_form_container {
    width: 460px;
    height: 600px;
    margin: 60px 145px;
}

.auth_both_text {
    gap: 220px;
}
