
.main_nav {
    width: 100%;
    max-width: 1728px;
    height: 76px;
    background-color: #013C5A;
    position: fixed;
}

.nav_links_container {
    height: 76px;
    width: 100%;
    max-width: 1307px;
    padding-left: 40px;
}

.main_logo {
    height: 76px;
    width: 100%;
    max-width: 200px;
}

.nav_lists {
    list-style: none;
    color: #fff;
    height: 20px;
}

.nav_translator_img {
    width: 30px;
    height: 20px;
}

.translator_text {
    color: #fff;
}

.side_nav_container {
    width: 300px;
    color: #fff;
}

.sidbar_nav_sign_in {
    cursor: pointer;
}

.sidbar_nav_sign_in:hover {
    color: #46A7C9;
    transition: all 0.5s;
}

.side_nav_login {
    background-color: #46A7C9;
    width: 92px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #000;
    height: 36px;
}

.side_cart {
    cursor: pointer;
}

.side_nav_login:hover {
    background-color: #d8d8d885;
    transition: all 0.5s;
}

/* body home */

.body_container {
    padding-top: 130px;
}

.rightside_content_container {
    width: 100%;
    max-width: 650px;
    height: 600px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(70, 167, 201, 0.35);
}

.main_rightside_content {
    padding: 50px 0px 0px 30px;
}

.rightside_text_content {
    width: 500px;
    height: 450px;
}

.heder_text_content {
    padding-bottom: 78px;
}

.text_heder {
    font-size: 25px;
    color: #013C5A;
    width: 428px;
}

.rightside_h2 {
    font-size: 48px;
}

.rightside_button_containers {
    width: 433px;
}

.rightside_courses_btn {
    width: 220px;
    height: 46px;
    background-color: #D4E9EF;
    color: #013C5A;
    border: none;
    border-radius: 30px;
}

.rightside_courses_btn:hover {
    background-color: #013C5A;
    color: #D4E9EF;
    transition: all 0.1s;
}

.rightside_register_btn {
    width: 170px;
    height: 46px;
    background-color: #013C5A;
    color: #D4E9EF;
    border: none;
    border-radius: 30px;
}

.rightside_register_btn:hover {
    background-color: #D4E9EF;
    color: #013C5A;
    transition: all 0.1s;
}

.slider_img_container {
    width: 100%;
    max-width: 340px;
    height: 378px;
    border-radius: 12px;
    /* box-shadow: 0 8px 25px rgba(70, 167, 201, 0.35); */
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider {
    width: 340px;
    height: 378px;
    display: flex;
    transition: transform 0.5s ease-in-out; 
} 
.slide {
    min-width: 340px;
    height: 378px;
    object-fit: cover;
}

.under_content_container {
    width: 100%;
    max-width: 340px;
    height: 200px;
    border-radius: 12px;
    background-color: #013C5A;
}

.under_text_container {
    width: 340px;
    height: 200px;
}

.ourgoal_text {
    padding: 30px 0px 0px 20px;
    color: #fff;
}

.sec_goal_text {
    width: 300px;
}

.last_side_container {
    width: 100%;
    max-width: 340px;
    height: 600px;
    border-radius: 12px;
}

.last_sidebtn {
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    background-color: #D4E9EF;
}

.last_sidebtn i {
    color: #013C5A;
    font-size: 25px;
    transition: color 0.2s;
}

.last_sidebtn:hover {
    background-color: #013C5A;
}

.last_sidebtn:hover i {
    color: #fff;
}
