
.main_nav {
    width: 100%;
    max-width: 1728px;
    height: 76px;
    z-index: 10;
    background-color: #013C5A;
    position: fixed;
}

.nav_links_container {
    height: 76px;
    width: 100%;
    max-width: 1307px;
    padding-left: 40px;
}

.main_logo {
    height: 76px;
    width: 100%;
    max-width: 200px;
}

.nav_lists {
    list-style: none;
    color: #fff;
    height: 20px;
}

.nav_translator_img {
    width: 30px;
    height: 20px;
}

.translator_text {
    color: #fff;
}

.side_nav_container {
    width: 300px;
    color: #fff;
}

.sidbar_nav_sign_in {
    cursor: pointer;
}

.sidbar_nav_sign_in:hover {
    color: #46A7C9;
    transition: all 0.5s;
}

.side_nav_login {
    background-color: #46A7C9;
    width: 92px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #000;
    height: 36px;
}

.side_cart {
    cursor: pointer;
}

.side_nav_login:hover {
    background-color: #d8d8d885;
    transition: all 0.5s;
}

.link-tag {
    color: #fff;
    text-decoration: none;
}

/* body home */

.body_container {
    padding-top: 130px;
    padding-bottom: 100px;
}

.rightside_content_container {
    width: 100%;
    max-width: 650px;
    height: 600px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(70, 167, 201, 0.35);
}

.main_rightside_content {
    padding: 50px 0px 0px 30px;
}

.rightside_text_content {
    width: 500px;
    height: 450px;
}

.heder_text_content {
    padding-bottom: 78px;
}

.text_heder {
    font-size: 25px;
    color: #013C5A;
    width: 428px;
}

.rightside_h2 {
    font-size: 48px;
}

.rightside_button_containers {
    width: 433px;
}

.rightside_courses_btn {
    width: 220px;
    height: 46px;
    background-color: #D4E9EF;
    color: #013C5A;
    border: none;
    border-radius: 30px;
}

.rightside_courses_btn:hover {
    background-color: #013C5A;
    color: #D4E9EF;
    transition: all 0.2s;
}

.rightside_register_btn {
    width: 170px;
    height: 46px;
    background-color: #013C5A;
    color: #D4E9EF;
    border: none;
    border-radius: 30px;
}

.rightside_register_btn:hover {
    background-color: #D4E9EF;
    color: #013C5A;
    transition: all 0.2s;
}

.slider_img_container {
    width: 100%;
    max-width: 340px;
    height: 378px;
    border-radius: 12px;
    /* box-shadow: 0 8px 25px rgba(70, 167, 201, 0.35); */
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider {
    width: 340px;
    height: 378px;
    display: flex;
    transition: transform 0.5s ease-in-out; 
} 
.slide {
    min-width: 340px;
    height: 378px;
    object-fit: cover;
}

.under_content_container {
    width: 100%;
    max-width: 340px;
    height: 200px;
    border-radius: 12px;
    background-color: #013C5A;
}

.under_text_container {
    width: 340px;
    height: 200px;
}

.ourgoal_text {
    padding: 30px 0px 0px 20px;
    color: #fff;
}

.sec_goal_text {
    width: 300px;
}

.last_side_container {
    width: 100%;
    max-width: 340px;
    height: 600px;
    border-radius: 12px;
}

.last_sidebtn {
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    background-color: #D4E9EF;
}

.last_sidebtn i {
    color: #013C5A;
    font-size: 25px;
    transition: color 0.2s;
}

.last_sidebtn:hover {
    background-color: #013C5A;
}

.last_sidebtn:hover i {
    color: #fff;
}

/*  */

.second_content_container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.all_second_container {
    width: 100%;
    max-width: 1200px;
    height: 600px;
    gap: 100px;
}

.sec_img_container {
    width: 100%;
    max-width: 550px;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sec_img {
    width: 550px;
    height: 600px;
}

.img_card_container {
    width: 455px;
    height: 470px;
    position: relative;
}

.first_card {
    width: 310px;
    height: 109px;
    background-color: #EDF4F6;
    border-radius: 20px;
    position: absolute;
    top: 100px;
    left: 300px;
    padding: 20px;
}

.second_card {
    width: 310px;
    height: 109px;
    background-color: #EDF4F6;
    border-radius: 20px;
    position: absolute;
    top: 250px;
    left: 200px;
    padding: 20px;
}

.third_card {
    width: 310px;
    height: 109px;
    background-color: #EDF4F6;
    border-radius: 20px;
    position: absolute;
    top: 399px;
    left: 300px;
    padding: 20px;
}

.card_img {
    width: 37px;
    height: 37px;
}

.sec_allcontent_container {
    width: 550px;
    height: 500px;
    /* border: 1px solid #D4E9EF; */
    /* border-radius: 12px; */
    /* box-shadow: 0 8px 25px rgba(70, 167, 201, 0.35); */
}

.sec_all_text_container {
    padding: 50px 0px 0px 0px;
}

.sec_main_hade {
    color: #013C5A;
    font-size: 25px;
}

.sec_use_text {
    font-size: 32px;
}

.chakemark {
    color: #005064;
    font-size: 20px;
}

.sec_usetext_register_btn {
    width: 202px;
    height: 45px;
    border-radius: 50px;
    background-color: #D4E9EF;
    border: none;
    color: #013C5A;
}

.sec_usetext_register_btn:hover {
    background-color: #013C5A;
    color: #fff;
    transition: all 0.2s;
}

/*  */

.e_cone_container {
    width: 100%;
    height: 650px;
    background-color: #f4f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cone_content_container {
    padding: 100px 50px 100px 50px;
    width: 1200px;
    height: 485px;
    background-color: #005064;
    border-radius: 50px;
}

.getstart_text {
    color: #D4E9EF;
    font-size: 22px;
}

.getstart_learning {
    color: #fff;
    font-size: 32px;
}

.Forward_text {
    color: #ffffffBD;
    font-size: 15px;
}

.getstart_register_btn {
    width: 120px;
    height: 45px;
    border-radius: 50px;
    border: none;
    background-color: #D4E9EF;
    color: #005064;
}

.getstart_register_btn:hover {
    background-color: #fff;
    transition: all 0.2s;
}

.getstart_courses_btn {
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    color: #005064;
}

.getstart_courses_btn:hover {
    background-color: #D4E9EF;
    transition: all 0.2s;
}